<div class="angular2-dynamic-components">
  <h1>Angular2 Dynamic Components</h1>
  <a href="https://github.com/dominikstrasser/angular2-dynamic-components" class="pure-button pure-button-primary">View on Github</a>
  <p>This is a simple example of dynamically rendered components.</p>
  <p>The example uses: </p>
  <ul>
    <li><a target="_blank" href="https://angular.io/docs/ts/latest/api/core/index/ComponentResolver-class.html">ComponentResolver</a></li>
    <li><a target="_blank" href="https://angular.io/docs/ts/latest/api/core/ViewContainerRef-class.html">ViewContainerRef</a></li>
    <li><a target="_blank" href="https://angular.io/docs/ts/latest/api/core/ViewChild-var.html">ViewChild</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>